<h1>New Provider</h1>

<!-- <%= form_with model: @provider do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @provider.errors.full_messages_for(:name).each do |message| %>
      <div style="color: red"><%= message %></div>      
    <% end %>
  </div>
  <div>
    <%= form.label :summary %><br>
    <%= form.text_field :summary %>
    <% @provider.errors.full_messages_for(:summary).each do |message| %>
      <div style="color: red"><%= message %></div>      
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %> -->

<%= render "form", provider: @provider %>