<!-- <h1><%= @provider.name %></h1>
<p><%= @provider.summary %></p>
<div>
  <%= link_to "Edit", edit_provider_path(@provider) %><br>
  <%= link_to "Destroy", @provider, 
                method: :delete,
                data: {confirm: "Are you sure?"} %>
</div> -->

<h1><%= @provider.name %></h1>

<p><%= @provider.summary %></p>

<ul>
<li><%= link_to "Edit", edit_provider_path(@provider) %></li>
<li><%= link_to "Destroy", @provider, 
                    method: :delete,
                    data: {confirm: "Are you sure?"} %></li>
</ul>

<% unless @provider.reservations == [] %>
<h2>Reservations</h2>
<% end %>
<!-- <% @provider.reservations.each do |reservation| %>
  <p>
    <strong>User:</strong>
    <%= reservation.user.username %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= reservation.date %>
  </p>
<% end %> -->

<%# https://guides.rubyonrails.org/getting_started.html %>
<%# This will render the partial in app/views/reservations/_reservation.html.erb 
once for each comment that is in the @article.comments collection. 
As the render method iterates over the @article.comments collection, 
it assigns each comment to a local variable named the same as the 
partial, in this case comment, which is then available in the partial 
for us to show. %>
<%= render @provider.reservations %>

<h2>Add a reservation:</h2>
<!-- <%= form_with model: [ @provider, @provider.reservations.build ] do |form| %>
<p>
    <%= form.label :user_id %><br>
    <% usernames = [] %>
    <% User.all.each do |user| %>
    <% usernames << [user.username, user.id] %>
    <% end %>
    <%= form.select :user_id, usernames %>
</p>
<p>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
</p>
<p>
    <%= form.submit %>
</p>
<% end %> -->

<%# This render just defines the partial template we want 
to render, reservations/form. Rails is smart enough to spot the forward 
slash in that string and realize that you want to render the 
_form.html.erb file in the app/views/reservations directory. %>
<%= render 'reservations/form' %>