<%= form_with model: user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
    <% user.errors.full_messages_for(:username).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.label :role %><br>
    <% [ 'client', 'provider' ].each do |role| %>
      <label>
        <%= form.radio_button(:role, role) %>
        <%= label_tag "role_#{role}", role.humanize %> 
      </label>
    <% end %>
    <% user.errors.full_messages_for(:role).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div><br>
 

  <div>
    <%= form.submit %>
  </div>
<% end %>