<%# <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> %>

<h1><%= @user.username %></h1>

<p><%= @user.role %></p>

<ul>
  <li><%= link_to "Edit", edit_user_path(@user) %></li>
  <li><%= link_to "Destroy", @user, 
                    method: :delete,
                    data: {confirm: "Are you sure?"} %></li>
</ul>

<h1> <%= params %> </h1>

<% flash.each do |type, msg| %>
  <div style="color: lightpurple">
    <%= msg %>
  </div>
<% end %>

<%= button_to "Request a reservation", user_create_request_path(@user), method: "post" %>

<% if !@user.requests.last %>
  <div style="color: lightred">No reservation requests</div>   
<% end %>

<% if @user.requests.last %>
  <% if @user.requests.last.created_at.localtime.to_date == Time.now.localtime.to_date %>
    <div style="color: lightgreen">Reservation requested today</div>
  <% else %>
    <div style="color: lightred">No reservation requests today</div>
  <% end %>
<% end %>

<%= button_to "Cancel a request", user_destroy_request_path(@user), 
                method: "delete", 
                data: {confirm: "Are you sure?"} %>
