<%# <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> %>

<% if current_user.id == params[:id].to_i %>

<h1><%= @user.username %></h1>

<p><%= @user.role %></p>

<ul>
  <li><%= link_to "Edit", edit_user_registration_path(@user) %></li>
  <li><%= link_to "Destroy", @user, 
                    method: :delete,
                    data: {confirm: "Are you sure?"} %></li>
</ul>

<% flash.each do |type, msg| %>
  <div style="color: lightpurple">
    <%= msg %>
  </div>
<% end %>

<%= button_to "Request a reservation", user_create_request_path(@user), method: "post" %>

<% if !@user.requests.last %>
  <div style="color: lightred">No reservation requests</div>   
<% end %>

<% if @user.requests.last %>
  <% if @user.requests.last.created_at.localtime.to_date == Time.now.localtime.to_date %>
    <div style="color: lightgreen">Reservation requested today</div>
  <% else %>
    <div style="color: lightred">No reservation requests today</div>
  <% end %>
<% end %>

<%= button_to "Cancel a request", user_destroy_request_path(@user), 
                method: "delete", 
                data: {confirm: "Are you sure?"} %>

<% if @user.reservations.last %>
  <% if @user.reservations.last.date == Time.now.localtime.to_date %>
    <% provider = @user.reservations.last.provider %>
    
    <h2 style="color: green">Reservation request approved by</h2>
    <h3 style="color: goldenrod"><%= provider.name %></h3>
      <% unless !provider.summary || provider.summary.strip == "" %>
        <p><%= provider.summary %></p>
      <% end %>
      <% unless !provider.phone || provider.phone.strip == "" %>
        <p>phone: <%= provider.phone %></p>
      <% end %>
      <% unless !provider.website || provider.website.strip == "" %>
        <p>website: <%= provider.website %></p>
      <% end %>  
      <% unless !provider.serving || provider.serving.strip == "" %>
        <p>serving: <%= provider.serving %></p>
      <% end %>

    <%= button_to "Confirm Reservation", user_update_reservation_path(@user), 
                method: "put", 
                data: {confirm: "Reservation will be confirmed with " + 
                  provider.name } %>
    <% if @user.reservations.last.is_confirmed %>
      <h2 style="color: green">Confirmed with <%= provider.name %><h2>
    <% end %>                  
  <% end %>
<% end %>

<% else %>

  <% if user_signed_in? %> 
    <em> Not authorized, <%= current_user.username %> </em><br>
  <% else %>
    <em> Not authorized, <%= current_provider.name %> </em><br>
  <% end %> <br><br>

  <%= link_to "Back", :back %>

<% end %>
