<%# <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> %>

<h1>Shelter</h1>
  <h2>Reservation System</h2>
  <% if !user_signed_in?  && !provider_signed_in? %>
    <%= link_to "Client Sign In", new_user_session_path %> <br>  
    <%= link_to "Client Sign Up", new_user_registration_path %><br><br>
    
    <%= link_to "Provider Sign In", new_provider_session_path %> <br>
    <%= link_to "Provider Sign Up", new_provider_registration_path %><br>
  
  <br>
  <% elsif user_signed_in? %>
    <%= link_to "Request Reservation", user_path(current_user) %>
    <%= link_to "Sign Out", destroy_user_session_path,
              method: :delete %>
  <% elsif provider_signed_in? %>
    <%= link_to "Make Reservations", provider_path(current_provider) %>
    <%= link_to "Sign Out", destroy_provider_session_path,
              method: :delete %>
  <% end %>
