<!DOCTYPE html>
<html>
  <head>
    <title>Shelter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: black; color: pink">
    <br><br>
    <nav>
        Navigation
        <% if user_signed_in? %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
        <% end %>
        <% if provider_signed_in? %>
            <%= link_to 'Log out', destroy_provider_session_path, method: :delete %>
        <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
